*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(#DFD3C3, #D0B8A8, #8D493A);
}

.button a{
    text-decoration: none;
    color: white;
}

.play-area{
    background: linear-gradient(#DFD3C3, #D0B8A8);
    padding: 20px;
    border-radius: 30px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-area:hover{
    scale: 1.05;
    transition: .5s;
}

.play-area h1{
    font-size: 1.5rem;
    text-align: center;
}
img{
    width: 300px;
    height: 150px;
    border-radius: 20px;
    margin-top: 10px;
}
.play-btn{
    width: 100px;
    background: linear-gradient(#D0B8A8, #8D493A);
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    transition: .5s;
} 
.play-btn:hover{
    background: linear-gradient(#8D493A, #D0B8A8);
    border: 1px solid #D0B8A8;
}

.rules-btn{
    width: 100px;
    background: linear-gradient(#D0B8A8, #8D493A);
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    transition: .5s;
} 
.rules-btn:hover{
    background: linear-gradient(#8D493A, #D0B8A8);
    border: 1px solid #D0B8A8;
}
.rules-area {
    width: 350px;
    height: 280px;
    margin-left: 20px;
    overflow-y: auto;
    background: linear-gradient(#DFD3C3, #D0B8A8);
    padding: 15px;
    border-radius: 30px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rules-area h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.rules-area p {
    width: 100%;
    text-align: justify;
    margin-bottom: 5px;
}

.rules-area{
    display: none;
}


/* media queries */
@media (max-width: 768px) {
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(#DFD3C3, #D0B8A8, #8D493A);
}
.play-area h1{
    font-size: 1.4rem;
}
img{
    width: 250px;
    height: 130px;
    border-radius: 20px;
    margin-top: 10px;
}
.rules-area {
    margin-top: 20px;
    width: 310px;
    height: 280px;
    margin-left: 0px;
}

.rules-area h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

}

